@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-red: #FF6C50;
    --color-light-red: #E8B5B2;
    --color-dark-red: #D5573E;
    --color-orange: #FFA050;
    --color-light-orange: #FFC55A;
    --color-dark-orange: #E58535;
    --color-yellow: #FFC55A;
    --color-green: #A6C05E;
    --color-light-green: #D0D289;
    --color-lime: #D5D92E;
    --color-cyan: #8CB4AB;
    --color-blue: #73B0B8;
    --color-light-blue: #A5C7CC;
    --color-dark-blue: #649BA3;
    --color-fuchsia: #E8B5B2;
    --color-light-fuchsia: #E1C4C2;
    --color-dark-fuchsia: #D0A897;

    --color-bg: #CCE0E3;
    --color-white: #F4F4F4;
    --color-gray: #B6B6B6;
    --color-black: #040404;
    --color-text-light: #263F77;
    --color-text: #172850;

    --animate-logo: animate-logo 1s ease-in-out;

    @keyframes animate-logo {

        25%,
        75% {
            rotate: -10deg;
        }

        50% {
            rotate: 10deg;
        }
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    box-sizing: border-box;
    margin: 0;
}
